* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #141414;
    color: white;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
}
nav ul {
    list-style-type: none;
    display: flex;
    margin: 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
.logo {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.banner {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
.banner h1 {
    color: red;
    font-size: 2rem;
}
.banner button {
    margin-top: 5px;
    background-color: red;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s;
}
.banner button:hover {
    transform: scale(1.1);
}

.populares {
    display: flex;
    margin: 5px;
    padding: 5px;
    gap: 15px;
    flex-wrap: wrap; /* Permite que os itens "quebrem" para a linha seguinte se necessário */
}

section h2 {
    margin-left: 30px;
}
.populares figure {
    text-align: center;
    width: 200px;
}
.populares img {
    width: 200px;
    height: 100px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}
.populares img:hover {
    transform: scale(1.1);
}

